body {
	padding: 200px;
	background-image: linear-gradient(to right top, #ffc905, #d0df36, #9fee6a, #67f89f, #00ffd3);
background-size: cover;
}

	.login_div1 , .login_div2
	{
		background: rgb(255, 238, 1);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
	background: rgb(255, 238, 1);
border-radius: 10px;
border-top: 10px solid #3c660c;
padding: 10px;
float: none;
text-align: left;
}
